*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(130deg, rgb(225, 168, 24), rgb(192, 192, 188),rgb(34, 211, 31));
}
.container{
    width: 450px;
    background:linear-gradient(130deg, rgb(48, 103, 222), rgb(25, 12, 215));
    padding: 30px;
    margin: 70px auto 0;
    border-radius: 10px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
   border: 0;
   outline: 0;
   padding: 12px 20px;
   border-radius: 30px;
   flex: 1;
   margin-right: 20px;
   font-size: 18px;
   background-color:rgb(233, 240, 240);
   color: black;
}
.search button{
    width: 50px;
    height: 50px;
    border: 0;
    outline: 0;
    border-radius: 50%;
    background-color:rgb(233, 240, 240);
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather{
    color: #fff;
    
}
.weather .icon{
    margin-top: 20px;
    width: 160px;
}
.weather h1{
    font-size: 70px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}
.detail{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
  
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 27px;
}
.error{
    text-align: left;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    display:none ;
}